@charset "UTF-8";
/* Formatação Body*/
body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    display: grid; 
    grid-template-areas: "header header header" 
                         "main main main" 
                         "footer footer footer"; 
    background-image: url("../src/background-1.png");
    background-size: 100%;
    background-attachment: fixed;
    /* grid-gap: 1rem; */
}
/* Correção para vizualização mobile */

/*Formatação Imagem*/
body img#icone-menu {
    position: relative;
    top: -181px;
    left: 952px;
}
/* Formação Cabeçalho */
.o-header {
    /* font-family: 'Indie Flower', cursive; */
    /* background-color: darkmagenta; */
    /* color: darkmagenta; */
    text-align: left;
    grid-area: header;
    /* box-shadow: 1px 1px 3px black;  */
}
/* Formatação Logo do cabeçalho */
.o-header img#logo{
   margin-bottom: -110px;
   margin-top: -40px; 
   margin-left: 10px; 
   /* top: 100px; */
   position: absolute; 
}
/* Formatação Menu */
nav#menu-superior{
    display: block;
}
nav#menu-superior ul{
   list-style: none;
   position: absolute;
   top: 52px;
   left: 900px;
}
nav#menu-superior li {
   color: wheat;
   font-family: 'Nova Flat', cursive;
   font-size: 20px;
   display: inline-block;
   text-align: center;
   /* box-shadow: 1px 1px 1px #606060; */
   padding: 10px;
}
nav#menu-superior li:hover{
    text-decoration-line: line-through;
    color: rgb(255, 8, 243);
   /* background-color: darkmagenta; */
   transition: color 1s;
} 
/* Formatação da região central do site */
.o-main { 
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 12px;
    grid-area: main; 
}
.o-main h1 {
    color: darkmagenta;
    text-decoration-line: line-through;
    font-family: 'Nova Flat', cursive;
    margin-top: 150px;
} 
/* .o-aside{
    font-size: 20px; 
    grid-area: aside;
    color: white;
    /* background-color: darkmagenta;  */
/* Formatação do Rodapé */
.o-footer { 
    color: darkmagenta;
    font-family: 'Nova Flat', cursive;
    grid-area: footer;
    text-align: center; 
}

